<div id="page-footer">
  <div id="footer-list">
    <ul>
      <li><a href="mailto:{{ 'booking@coastline941.com' | enunicode | safe }}">{{ 'booking@coastline941.com' | enunicode | safe }}</a></li>
      <li><a href="mailto:{{ 'licensing@coastline941.com' | enunicode | safe }}">{{ 'licensing@coastline941.com' | enunicode | safe }}</a></li>
      <li>&copy; 2019 CØASTLiNE LLC</li>
    </ul>
    </div>
  <div id="footer-wave-container">
  <div id="footer-wave"></div>
  </div>
</div>
