<nav id="navmain" class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="main-title" class="navbar-brand" href="{{ '/' | url }}">CØASTLiNE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/coastline941/"><i class="navicon" data-feather="instagram" data-feather-height="32"></i>
        <span class="d-md-none d-lg-none d-xl-none">Instagram</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/pg/COASTLINE.FL/"><i class="navicon" data-feather="facebook"></i>
        <span class="d-md-none d-lg-none d-xl-none">Facebook</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/channel/UCxT9hjjlhmdm84h5ce2LqrQ"><i class="navicon" data-feather="youtube"></i>
        <span class="d-md-none d-lg-none d-xl-none">YouTube</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div id="gradientblock">
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="btn navbar-right-btn nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SRQ Am Fest
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn navbar-sub-btn nav-link" href="{{ '/events/srqamseries/' | url }}">Info</a>
          <a class="dropdown-item btn navbar-sub-btn nav-link" href="{{ '/events/srqamseries/registration/' | url }}">Register</a>
          <a class="dropdown-item btn navbar-sub-btn nav-link" href="{{ '/events/srqamseries/bands/' | url }}">Band Lineup</a>
          <a class="dropdown-item btn navbar-sub-btn nav-link" href="{{ '/events/srqamseries/sponsors/' | url }}">Sponsors</a>
          <a class="dropdown-item btn navbar-sub-btn nav-link" href="{{ '/events/srqamseries/staff/' | url }}">Staff</a>
          <a class="dropdown-item btn navbar-sub-btn nav-link" href="https://coastline-band-llc.weebly.com/" target="_blank">Buy Now</a>
        </div>
      </li>
      <li>
        <a class="btn navbar-right-btn" href="{{ '/presskit/' | url }}" role="button">
        PressKit
        </a>
      </li>
      <li>
        <a class="btn navbar-right-btn" href="https://www.etsy.com/shop/COASTLINE941" target="_blank" role="button">
        Shop
        </a>                
      </li>
    </ul>
  </div>
</nav>
