---
layout: layouts/home.njk
title: CØASTLiNE - STRAiGHT OUTTA SARASOTA!
date: 2019-04-05T00:00:00.000Z
permalink: /
navtitle: Home
tags:
  - nav
---

<style>
.titlelink, .titlelink :hover{
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.titlelink :hover{
  text-shadow: 0 0 10px #FFFFFF;
}

.desclink, .desclink :hover{
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.desclink :hover{
  text-shadow: 0 0 10px #FFFFFF;
}

#content-wrapper {

}



#video_credit {
    position: absolute;
    overflow: hidden;
    top: 55%;
    left: 0;
    width: auto;
    color: white;
    font-family: 'aileronultralight', sans-serif;
    padding: .5rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
}

@media (max-width: 992px), /* If smaller than 992px */
screen and (aspect-ratio: 4/3), /* Or is 4:3 ratio (iPad) */
/* Or is an iPad Pro */
screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) { 

    #video_credit {
display: none;
    }
}
</style>


<div id="content-wrapper">
<div id="P1" class="player" style="background: white; pointer-events: none;" onclick='return false;'>
</div>
  <div id="videotitle">

{% set newslist = collections.news %}
{% for news in newslist | reverse %}

  <div class="newsitem">
    <a class="titlelink" href="{{ news.data.linkurl }}"><div><h1>{{ news.data.title }}</h1>
    <p>{{ news.data.summary | safe }}</p></div></a>
    {{ news.templateContent | safe }}
  </div>  
{% endfor %}

    </div> 
  <div id="video_credit"><a href="https://www.lifetreeentertainment.com/?utm_source=coastline941&utm_medium=page&utm_campaign=home_link" target="_blank">
  <img src="/img/video_credit-lifetree_entertainment-logo.png"></a>
  </div>
  </div>
</div>
<script>
  var videos = [
  {% for news in newslist | reverse %}
      {% if news.data.youtube_id %}
      { videoURL: '{{news.data.youtube_id}}',
        containment:'self',
        showControls: false,
        mute: true,
        startAt: {{news.data.youtube_start_at}},
        stopAt: {{news.data.youtube_stop_at}},
        autoPlay: true,
        loop: false,
        optimizeDisplay: true,
        opacity: 1,
        remember_last_time: false,
        mask: 'img/dark_vignette.png',
        showYTLogo:false,
        stopMovieOnBlur:false
      },
      {% endif %}
{% endfor %}
  ];
  // start the Primary YouTube video
  $(document).ready(function() {
      var vidPlayer = jQuery("#P1").YTPlaylist(videos, false);
  });
</script>