---
layout: page-nav.liquid
title: CØASTLiNE - SRQ Am Series and Music Festival Sponsors
---
<style>

#thanks {
  font-family: aileronultralight;
  font-weight: bold;
}
</style>

<div id="content-wrapper">
<div style="padding-top:80px;">

<div class="container">
<h1 id="thanks" class="text-center">THANK YOU TO ALL OUR SPONSORS!</h1>

<p class="text-center">This event would not be made possible without the help and support of all of our great sponsors and staff!<br>
We would like to give a <strong>HUGE</strong> thank you to Office Outfitters for providing funds needed to rent the skatepark.<br>Without them, we would not have been able to bring this event forward to the point we have come today.</p>

<p class="text-center">We also want to give a very special thank you to Silver Threads Embroidery, as they have provided all of the Event Staff T-Shirts you will see throughout the event!</p>

<div class="container">
  <div class="row">
    <div class="col mb-4 mt-4 text-center">
    <a href="http://www.veniceofficeoutfitters.com/" target="_blank"><img src="{{ '/img/srqamseries-sponsor-office_outfitters-logo.png' | url }}" alt="Office Outfitters"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <a href="http://www.silverthreadsembroidery.com/" target="_blank"><img src="{{ '/img/srqamseries-sponsor-silver_threads-logo.jpg' | url }}" alt="Silver Threads Embroidery"></a>
    </div>
    <div class="col-sm text-center">
      <a href="http://www.stormroomstudios.com/" target="_blank"><img src="{{ '/img/srqamseries-sponsor-storm_room_studios-logo.jpg' | url }}" alt="Silver Threads Embroidery"></a>
    </div>
  </div>
</div>




</div>
</div>
</div>