---
layout: page-nav.liquid
title: CØASTLiNE - STRAiGHT OUTTA SARASOTA!
---
<div id="content-wrapper">

    <div id="P1" class="player" style="background: white;" data-property="{
        videoURL: 'kWMHMN1xU-Y',
        containment: 'self',
        showControls: false,
        startAt: 0,
        stopAt: 21,
        mute: true,
        autoPlay: true,
        loop: true,
        optimizeDisplay: true,
        opacity: 1,
        remember_last_time: false,
        mask: 'img/dark_vignette.png',
        showYTLogo:false}">
    </div>
    <div id="videotitle">
        <h1>DEViL WiTH THE CRØWN</h1>
        <p id="tracksubtitle">
            The first single off our upcoming EP is out now, and we just wrapped shooting the video. Check out the track
        </p>
        <div id="musicplayer">
    {% comment %} 
            <a class="btn spotify-button btn-large" href="https://open.spotify.com/album/2cbsn00JsXIENDO1AfB88Q">
            <svg class="svgicon" aria-labelledby="simpleicons-spotify-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-spotify-icon">Spotify icon</title><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z" fill="#fff"/></svg>
            Listen on Spotify
            </a> {% endcomment %}

            {% comment %} <iframe src="https://open.spotify.com/embed/album/2cbsn00JsXIENDO1AfB88Q&theme=white&view=coverart" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> {% endcomment %}

            <iframe height="300" width="100%" src="https://play.soundsgood.co/embed/5b82bd372494bee13b6bc86d?color=#67a58c&hideCurator=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay; encrypted-media" allowtransparency="true"></iframe>
        </div>
    </div>
    
</div>
<script>
    // start the Primary YouTube video
    $(document).ready(function() {
        var vidPlayer = jQuery("#P1").YTPlayer();
    });
</script>