---
layout: page-nav.liquid
title: CØASTLiNE - STRAiGHT OUTTA SARASOTA!
---
<style>
.titlelink, .titlelink :hover{
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.titlelink :hover{
  text-shadow: 0 0 10px #FFFFFF;
}

.desclink, .desclink :hover{
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.desclink :hover{
  text-shadow: 0 0 10px #FFFFFF;
}

#content-wrapper {

}

</style>


<div id="content-wrapper">
<div id="P1" class="player" style="background: white;" data-property="{
  videoURL: 'kWMHMN1xU-Y',
  containment:'self',
  showControls: false,
  mute: true,
  startAt: 0,
  stopAt: 21,
  autoPlay: true,
  loop: true,
  optimizeDisplay: true,
  opacity: 1,
  remember_last_time: false,
  mask: 'img/dark_vignette.png',
  showYTLogo:false}">
</div>
  <div id="videotitle">
    <a class="titlelink" href="{{ '/events/srqamseries/' | url }}"><h1>SRQ AM SERiES <br>AND MUSiC FESTiVAL</h1></a>
    <p>We are so incredibly proud to announce we will be hosting our first music festival.</p>
    <p>The inaugural <a href="{{ '/events/srqamseries/' | url }}">SRQ Am Series and Music Festival</a> is an event to showcase the unique blend of sports and music culture we love so much here on Florida’s best coast.</p>
    
    <h1>DEViL WiTH THE CRØWN</h1>
    <p id="tracksubtitle">
      The first single off our upcoming EP is out now, and we just wrapped shooting the video. Check out the track
    </p>
    <div id="musicplayer">
      <iframe src="https://open.spotify.com/embed/album/2cbsn00JsXIENDO1AfB88Q&theme=white&view=coverart" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    </div>
  </div>
</div>
<script>
  // start the Primary YouTube video
  $(document).ready(function() {
      var vidPlayer = jQuery("#P1").YTPlayer();
  });
</script>